\.vs

\.vs/Bica\.MarkedFileTransfersTool/v15/\.suo

\.vs/Bica\.MarkedFileTransfersTool/v15/Server/sqlite3/db\.lock

\.vs/Bica\.MarkedFileTransfersTool/v15/Server/sqlite3/storage\.ide

\.vs/Bica\.MarkedFileTransfersTool/v15/Server/sqlite3/storage\.ide-shm

\.vs/Bica\.MarkedFileTransfersTool/v15/Server/sqlite3/storage\.ide-wal

\.vs/Bica\.MarkedFileTransfersTool/v16/\.suo

\.vs/Bica\.MarkedFileTransfersTool/v16/Server/sqlite3/db\.lock

\.vs/Bica\.MarkedFileTransfersTool/v16/Server/sqlite3/storage\.ide

\.vs/Bica\.MarkedFileTransfersTool/v16/Server/sqlite3/storage\.ide-shm

\.vs/Bica\.MarkedFileTransfersTool/v16/Server/sqlite3/storage\.ide-wal

Bica\.MarkedFileTransfers\.Model/Bica\.MarkedFileTransfers\.Model\.vbproj\.user

Bica\.MarkedFileTransfersTool/obj/Debug/Bica\.MarkedFileTransfersTool\.vbproj\.CoreCompileInputs\.cache

Bica\.MarkedFileTransfersTool/obj/Debug/Bica\.MarkedFileTransfersTool\.vbproj\.FileListAbsolute\.txt

Bica\.MarkedFileTransfersTool/obj/Debug/Bica\.MarkedFileTransfersTool\.vbprojAssemblyReference\.cache

Bica\.MarkedFileTransfersTool/obj/Debug/DesignTimeResolveAssemblyReferences\.cache

Bica\.MarkedFileTransfersTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

Bica\.MarkedFileTransfersTool/obj/Debug/TempPE/My Project\.Resources\.Designer\.vb\.dll

packages

packages/

packages/EntityFramework\.6\.2\.0/\.signature\.p7s

packages/EntityFramework\.6\.2\.0/content/net40/App\.config\.transform

packages/EntityFramework\.6\.2\.0/content/net40/Web\.config\.transform

packages/EntityFramework\.6\.2\.0/EntityFramework\.6\.2\.0\.nupkg

packages/EntityFramework\.6\.2\.0/lib/net40/EntityFramework\.dll

packages/EntityFramework\.6\.2\.0/lib/net40/EntityFramework\.SqlServer\.dll

packages/EntityFramework\.6\.2\.0/lib/net40/EntityFramework\.SqlServer\.xml

packages/EntityFramework\.6\.2\.0/lib/net40/EntityFramework\.xml

packages/EntityFramework\.6\.2\.0/lib/net45/EntityFramework\.dll

packages/EntityFramework\.6\.2\.0/lib/net45/EntityFramework\.SqlServer\.dll

packages/EntityFramework\.6\.2\.0/lib/net45/EntityFramework\.SqlServer\.xml

packages/EntityFramework\.6\.2\.0/lib/net45/EntityFramework\.xml

packages/EntityFramework\.6\.2\.0/tools/about_EntityFramework\.help\.txt

packages/EntityFramework\.6\.2\.0/tools/EntityFramework\.PowerShell\.dll

packages/EntityFramework\.6\.2\.0/tools/EntityFramework\.PowerShell\.Utility\.dll

packages/EntityFramework\.6\.2\.0/tools/EntityFramework\.psd1

packages/EntityFramework\.6\.2\.0/tools/EntityFramework\.psm1

packages/EntityFramework\.6\.2\.0/tools/init\.ps1

packages/EntityFramework\.6\.2\.0/tools/install\.ps1

packages/EntityFramework\.6\.2\.0/tools/migrate\.exe

packages/log4net\.2\.0\.8/\.signature\.p7s

packages/log4net\.2\.0\.8/lib/net20-full/log4net\.dll

packages/log4net\.2\.0\.8/lib/net20-full/log4net\.xml

packages/log4net\.2\.0\.8/lib/net35-client/log4net\.dll

packages/log4net\.2\.0\.8/lib/net35-client/log4net\.xml

packages/log4net\.2\.0\.8/lib/net35-full/log4net\.dll

packages/log4net\.2\.0\.8/lib/net35-full/log4net\.xml

packages/log4net\.2\.0\.8/lib/net40-client/log4net\.dll

packages/log4net\.2\.0\.8/lib/net40-client/log4net\.xml

packages/log4net\.2\.0\.8/lib/net40-full/log4net\.dll

packages/log4net\.2\.0\.8/lib/net40-full/log4net\.xml

packages/log4net\.2\.0\.8/lib/net45-full/log4net\.dll

packages/log4net\.2\.0\.8/lib/net45-full/log4net\.xml

packages/log4net\.2\.0\.8/lib/netstandard1\.3/log4net\.dll

packages/log4net\.2\.0\.8/log4net\.2\.0\.8\.nupkg

*.dll

*.user

*.cache

Bica\.MarkedFileTransfers\.Model/obj/Debug/Bica\.MarkedFileTransfers\.Model\.vbproj\.FileListAbsolute\.txt

Bica\.MarkedFileTransfers\.Model/bin/Debug/

Bica\.MarkedFileTransfers\.Model/obj/Debug/

Bica\.MarkedFileTransfersTool/bin/Debug/

Bica\.MarkedFileTransfersTool/obj/Debug/
