<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.194" newVersion="4.2.0.194"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SERVICE_NAME" value="Bica.MarkedFileTransferTool.WindowsService"/>
    <add key="SERVICE_DISPLAY_NAME" value="Bica.MarkedFileTransferTool.WindowsService"/>
    <add key="SERVICE_DESCRIPTION" value="Servicio que ejecuta Pagos Diferidos en un lapso de tiempo."/>
    
    <add key="INTERVAL_MINUTES_JOB_TRANSFER_NTFTP" value="2"/>
    <add key="INTERVAL_MINUTES_JOB_CHECK_NTFTP" value="1"/>
    <add key="INTERVAL_MINUTES_JOB_RECIBER_NTFTP" value="1"/>
    
    <add key="JOB_NAME_TRANSFER_NTFTP" value="TRANSFER_NTFTP_JOP"/>
    <add key="JOB_NAME_CHECK_NTFTP" value="CHECK_NTFTP_JOP"/>
    <add key="JOB_NAME_RECIBER_NTFTP" value="RECIBER_NTFTP_JOP"/>
    
    <add key="GROUP_NAME" value="TRANSFER_GROUP_NTFTP"/>
    <add key="TRIGGER_NAME_TRANSFER_NTFTP" value="TRIGGER_TRANSFER_NTFTP"/>
    <add key="TRIGGER_NAME_CHECK_NTFTP" value="TRIGGER_CHECK_NTFTP"/>
    <add key="TRIGGER_NAME_RECIBER_NTFTP" value="TRIGGER_RECIBER_NTFTP"/>
  </appSettings>
  <connectionStrings>
    <add name="B_BancaElecEntities" connectionString="metadata=res://*/B_BancaElec.csdl|res://*/B_BancaElec.ssdl|res://*/B_BancaElec.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HP\SQLEXPRESS;initial catalog=B_BancaElec;persist security info=True;user id=sa;password=admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="B_GeneralEntities" connectionString="metadata=res://*/B_General.csdl|res://*/B_General.ssdl|res://*/B_General.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HP\SQLEXPRESS;initial catalog=B_General;persist security info=True;user id=sa;password=admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <!--<add name="B_BancaElecEntities" connectionString="metadata=res://*/B_BancaElec.csdl|res://*/B_BancaElec.ssdl|res://*/B_BancaElec.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.1.151;initial catalog=B_BancaElec;persist security info=True;user id=lgnCoelsa;password=lgnCoelsa_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="B_GeneralEntities" connectionString="metadata=res://*/B_General.csdl|res://*/B_General.ssdl|res://*/B_General.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.1.151;initial catalog=B_General;persist security info=True;user id=lgnCoelsa;password=lgnCoelsa_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
