<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--INDICA EL PATH ORIGEN DE LOS ARCHIVOS -->
    <add key="FILE_PATH_FROM" value=""/>
    <!--INDICA EL DESTINO DE LOS ARCHIVOS QUE LUEGO SERÁN COPIADOS AL NTFTP PARA SER TRANSFERIRIDOS-->
    <add key="FILE_PATH_TO" value=""/>
  </appSettings>
</configuration>